@font-face {
  font-family: 'Ember Modern';
  src: url('./font/Ember Modern Text/WOFF2/EmberModernTextStd-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ember Modern';
  src: url('./font/Ember Modern Text/WOFF2/EmberModernTextStd-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Ember Modern';
  src: url('./font/Ember Modern Text/WOFF2/EmberModernTextStd-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Ember Modern';
  src: url('./font/Ember Modern Text/WOFF2/EmberModernTextStd-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Ember Modern';
  src: url('./font/Ember Modern Text/WOFF2/EmberModernTextStd-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Ember Modern';
  src: url('./font/Ember Modern Text/WOFF2/EmberModernTextStd-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

#app {
  font-family: 'Ember Modern', -apple-system, BlinkMacSystemFont, sans-serif;
}
