{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react-hooks", "react", "header"],
  "rules": {
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "curly": "error",
    "eqeqeq": "error",
    "no-return-await": "error",
    "require-await": "error",
    "react/display-name": "off",
    "react/prop-types": "off",
    "react/no-unescaped-entities": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "globals": {
    "process": true
  },
  "overrides": [
    {
      "files": ["**/*.js", "**/*.jsx", "**/*.ts"],
      "rules": {
        "header/header": [
          "error",
          "line",
          [" Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.", " SPDX-License-Identifier: MIT-0"]
        ]
      }
    },
    {
      "files": ["./*.js", "./scripts/**/*.js"],
      "env": {
        "node": true,
        "browser": false
      },
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    },
    {
      "files": ["test/**/*.ts"],
      "env": {
        "jest": true
      },
      "rules": {
        "react-hooks/rules-of-hooks": "off"
      }
    }
  ]
}
