{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react-hooks", "react", "header", "@eslint-react/eslint-plugin", "eslint-plugin-simple-import-sort"],
  "rules": {
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-empty-function": "off",
    "curly": "error",
    "eqeqeq": "error",
    "no-return-await": "error",
    "require-await": "error",
    "header/header": [
      "error",
      "line",
      [" Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.", " SPDX-License-Identifier: MIT-0"]
    ],
    "react/display-name": "off",
    "react/prop-types": "off",
    "react/no-unescaped-entities": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/no-require-imports": "warn",
    "@typescript-eslint/no-unused-vars": ["error", { "caughtErrors": "none" }]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "globals": {
    "process": true
  },
  "overrides": [
    {
      "files": ["*.json"],
      "rules": {
        "header/header": "off"
      }
    },
    {
      "files": ["./*.js", "./scripts/**/*.js"],
      "env": {
        "node": true,
        "browser": false
      },
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    },
    {
      "files": ["test/**/*.ts"],
      "env": {
        "jest": true
      },
      "rules": {
        "react-hooks/rules-of-hooks": "off"
      }
    },
    {
      "files": ["src/**/*.{js,jsx,ts,tsx}"],
      "rules": {
        "@typescript-eslint/no-use-before-define": "warn",
        "@typescript-eslint/no-explicit-any": "warn",
        "@typescript-eslint/no-empty-function": "warn",
        "react/display-name": "warn",
        "@eslint-react/no-class-component": "warn",
        "@eslint-react/naming-convention/filename": ["warn", { "rule": "kebab-case" }],
        "@eslint-react/naming-convention/filename-extension": ["warn", "as-needed"],
        "@typescript-eslint/no-require-imports": "error",
        "simple-import-sort/imports": [
          "warn",
          {
            "groups": [
              // External packages come first.
              ["^react", "^(?!@cloudscape)@?\\w"],
              // Cloudscape packages.
              ["^@cloudscape"],
              // Things that start with a letter (or digit or underscore), or `~` followed by a letter.
              ["^~\\w"],
              // Anything not matched in another group.
              ["^"],
              // Styles come last.
              ["^.+\\.?(css)$", "^.+\\.?(css.js)$", "^.+\\.?(scss)$", "^.+\\.?(selectors.js)$"]
            ]
          }
        ]
      }
    }
  ]
}
