// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0
@use '~@cloudscape-design/design-tokens' as cs;

body {
  background: cs.$color-background-layout-main;
  position: relative;
  --border-item-width-miijiw: 1px !important;
  --font-box-value-large-weight-wr00sw: 500 !important;
  --size-vertical-input-p1d7xx: 30px !important;
}

//// Custom styles for flashbar //// 
body.filled-flashbar {
  .awsui_notifications-container_7nfqu_qav4f_341 {
    padding-block-start: 0 !important;
    grid-column: 3 / 6 !important;
  }

  .awsui_flash-list_1q84n_t2sge_371:not(#\9):not(.awsui_collapsed_1q84n_t2sge_392) > li:not(:last-child) {
    margin-block-end: 1px !important;
  }

  .awsui_flash_1q84n_t2sge_157:not(#\9) {
    padding-block: 6px !important; 
  }

  .awsui_main_7nfqu_qav4f_356:not(#\9) {
    margin-block-start: 16px !important;
  }

  .awsui_flash_1q84n_t2sge_157:not(#\9) {
    box-shadow: 0px 2px 4px rgba(0, 7, 22, 0.10) !important;
  }
}

.awsui_segment_8cbea_1ftnx_161:not(#\9) {
  border-radius: 6px !important;
}

.awsui_button_vjswe_1xvr8_157:not(#\9):not(.awsui_button_vjswe_1xvr8_157.awsui_button-no-text_vjswe_1xvr8_601:not(#\9)) {
  padding-inline: 16px;
}

.awsui_alert_mx3cw_uee7s_193:not(#\9) {
  border-inline-start-width: 2px !important;
}

// Tabs typography
.awsui_tabs-tab-link_14rmt_1rxg6_296:not(#\9) {
  font-size: 14px !important;
  font-weight: 500;
}

// Tile selected border width
.awsui_tile-container_vj6p7_1p9yl_394.awsui_refresh_vj6p7_1p9yl_419.awsui_selected_vj6p7_1p9yl_423:not(#\9):not(.awsui_disabled_vj6p7_1p9yl_423):not(.awsui_readonly_vj6p7_1p9yl_423) {
  box-shadow: none;
}
//06080A
// Custom side nav treatment
li:has(> a.awsui_link-active_l0dv0_yc2la_326:not(#\9)) {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -8px;
    //outline: solid 1px black;
    width: calc(100% + 8px);
    height: 28px;
    border-radius: 8px;
    background: #F6F6F9;
    z-index: -1;
  }
}

// Toolbar 
.awsui_trigger_lpshu_10v1l_145.awsui_circle_lpshu_10v1l_167:not(#\9) {
  border-radius: 8px !important;
}

// Main content area margin
.awsui_main_7nfqu_qav4f_356:not(#\9) {
  margin-block-start: 16px !important;
}

.custom-main-header {
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0;
  background-color: #0f1b2a;
  font-family: cs.$font-family-base;
}

ul.menu-list {
  display: flex;
  align-items: center;
  height: 39px;
  margin: 0;
  padding: 0 40px;
  list-style: none;
  font-size: 14px;

  & > li {
    padding: 0;
    margin: 0;
    margin-right: 8px;

    > a {
      padding: 0 6px;
    }

    a,
    div,
    button,
    input,
    label {
      float: left;
      color: cs.$color-text-interactive-default;
      line-height: 16px;
    }

    #visual-refresh-toggle {
      margin-right: 5px;
      margin-top: 1px;
    }

    a,
    a:hover {
      cursor: pointer;
      text-decoration: none;
    }

    &.title {
      font-weight: bold;
    }
  }

  @media only screen and (max-width: 493px) {
    padding: 4px 20px;
    flex-wrap: wrap;
    height: fit-content;

    .title {
      flex: 1 1 100%;
      margin-bottom: 8px;
    }

    li {
      width: min-content;

      button,
      a {
        text-align: left;
      }

      a {
        padding: 0;
      }
    }
  }
}
