// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0
@use '~@cloudscape-design/design-tokens' as cs;

:root {
  --font-amazon-ember: 'Amazon Ember Web', 'Amazon Ember', sans-serif;
}

body {
  background: cs.$color-background-layout-main;
  position: relative;
}

.awsui-one-theme {
  .awsui_root_1pkji_5uci6_5:not(#\9) {
    background-color: #f5f5f5;
    border-radius: 2px !important;
  }
  .awsui_line-number_1pkji_5uci6_36:not(#\9) {
    background-color: #f5f5f5;
    border-radius: 0px !important;
  }
}

.awsui-one-theme {
  &.awsui-dark-mode {
    .awsui_root_1pkji_5uci6_5:not(#\9) {
      background-color: #3b3b3b;
      border-radius: 2px !important;
    }
    .awsui_line-number_1pkji_5uci6_36:not(#\9) {
      background-color: #3b3b3b;
      border-radius: 0px !important;
    }
  }
}

//////////////////////////////////////////////////
/// General styles that should not be changed or removed
//////////////////////////////////////////////////
.custom-main-header {
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0;
  background-color: #0f1b2a;
  font-family: cs.$font-family-base;
}
