.responsiveColumnLayout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 20px;
  column-gap: 20px;

  > * {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 0px;
      height: 100%;
      border-right: 2px solid black;
    }
  }

  margin-right: -2px;
  overflow: hidden;
}
